In [ ]:
import numpy as np
import pandas as pd
from numpy import nan as NA

In [ ]:
df = pd.DataFrame(np.random.randn(6,4))
df.iloc[3:, :2] = NA
df.iloc[4:, 3] = NA
df

          0         1         2         3
0  0.487069  0.981628  0.315224 -0.731368
1  0.219791 -0.337240  0.631252 -0.986007
2  1.368288 -0.229116 -1.752609 -0.276872
3       NaN       NaN  1.173314  0.749033
4       NaN       NaN -1.502456       NaN
5       NaN       NaN  0.138832       NaN

P1. 4개 이상의 값이 있는 열만 포함된 새로운 데이터프레임을 만들고, 그 데이터프레임의 NA 값을 윗 행의 데이터로 채우세요.

In [ ]:
##new_df =

P2. 다음 영화와 별점 데이터프레임에서 영화명을 기준으로 중복을 제거하고, map을 이용해서 한줄평을 연결시키세요. 중복을 제거할 때는 먼저 나오는 데이터를 남겨 주세요.

In [15]:
movies = pd.DataFrame({'titles': ['스즈메의 문단속', '가디언즈 오브 갤럭시', '리바운드', '올드보이', '7광구', '스즈메의 문단속', '리바운드', '헤어질 결심', '스즈메의 문단속'],
                       'rates': [4.4, 3.6, 3, 4.7, 2.3, 4.6, 3, 3.4, 4.2 ]})
comment = {'스즈메의 문단속':'작품 전체가 길고 간절하게 수행하는 의례처럼 다가온다',
           '가디언즈 오브 갤럭시':'휴머니티와 낭만이 버무려진 영화',
           '리바운드':'결정적인 슛 없이 122분 경기를 마감한다',
           '올드보이':'치밀한 덫과 강력한 도끼를 함께 갖춘 괴력의 영화',
           '7광구':'공부가 더 재밌다',
           '헤어질 결심':'미결과 영원 사이에서 사무치도록'}

P3. 다음은 승혁이의 성적을 나타낸 데이터프레임입니다. 색인의 이름을 앞 3글자를 대문자로 바꿔 치환하고(Morphology면 'MOR'), 4.5가 넘는 이상치를 4.5로 변경해 주세요(sign을 이용하면 좋을 것 같습니다).

In [39]:
scores = pd.DataFrame({'scores':[3.5,4,5]},
                      index = ['Latin', 'French', 'Phonology'])
scores

           scores
Latin         3.5
French        4.0
Phonology     5.0

P4. 4~12자리의 영문 대소문자 및 숫자 뒤에 1개 이상의 특수문자가 포함되어야 하는 비밀번호를 검증하는 정규 표현식을 만들어 보세요.

특수 기호에는 !,@,#이 있습니다. 

예시: epdlxj23@, zmffldtkfkd!