In [2]:
import numpy as np

import pandas as pd

### 문제1
아래 이미지와 같은 데이터프레임을 생성해보세요.

![](https://pbs.twimg.com/media/FvC_L8YaMAAgZx1?format=png&name=360x360)

### 문제2
주어진 데이터를 더해 NaN가 없는 데이터프레임을 만들어보세요.

In [10]:
S1 = pd.Series([1,2,3,4,3,2,1], index = [0,2,3,4,6,8,9])
S2 = pd.Series([5,4,2,8,6,3,7], index = [1,2,3,5,7,8,9])

### 문제3
주어진 데이터프레임과 loc를 이용해 화요일 6교시에 있는 수업을 "CLING"으로 바꾸는 코드를 작성하세요.

In [12]:
DF = pd.DataFrame({"월요일":["라틴어", "라틴어", "근대매체와 한국문학", "동아시아사의 재조명", " ", " "],
                   "화요일":["ACADEMIC ENGLISH", " ", "자유정의진리II", "번역을 통해 본...", " ", " "],
                   "수요일":["라틴어", "라틴어", "근대매체와 한국문학", "동아시아사의 재조명", "디지털인문학입문II", "디지털인문학입문II"],
                   "목요일":["ACADEMIC ENGLISH", " ", "자유정의진리II", "번역을 통해 본...", " ", " "]},
                   index = ["3교시", "4교시", "5교시", "6교시", "7교시", "8교시"])

DF

            월요일               화요일         수요일               목요일
3교시         라틴어  ACADEMIC ENGLISH         라틴어  ACADEMIC ENGLISH
4교시         라틴어                           라틴어
5교시  근대매체와 한국문학          자유정의진리II  근대매체와 한국문학          자유정의진리II
6교시  동아시아사의 재조명       번역을 통해 본...  동아시아사의 재조명       번역을 통해 본...
7교시                                디지털인문학입문II
8교시                                디지털인문학입문II

### 문제4
주어진 시리즈를 이용해 아래 이미지와 같은 결과가 나오도록 코드를 작성하세요.<br>
코드를 작성하기 전에 각 값의 개수를 세어보세요.

![](https://pbs.twimg.com/media/FvDGe3naQAErvr6?format=png&name=small)

In [16]:
S = pd.Series(list("간장공장공장장은장공장장이다"))